{"plugins":[["expo-brownfield",{"ios":{"targetName":"CrossPlatformBundle","bundleIdentifier":"com.box.crossplatformbundle"},"android":{"group":"com.example","libraryName":"brownfield","package":"com.example.brownfield","version":"1.0.0"}}],["@cirrus/plugin-boxbundle-ios/app.plugin",{"additionalFrameworks":["BoxContext"],"artifactsFolder":"artifacts","archiveOutputFolder":"archives","fingerprintExtraSources":["../../native-modules"]}]],"name":"@box/host","slug":"@boxhost","version":"1.0.0","description":"React Native host application for Android and iOS","sdkVersion":"55.0.0","platforms":["ios","android","web"],"extra":{"boxBundleIos":{"additionalFrameworks":["BoxContext"],"artifactsFolder":"artifacts","archiveOutputFolder":"archives","fingerprintExtraSources":["../../native-modules"]}}}